@model SnapCot.Web.ViewModels.CommentsViewModels.CommentInputModel

<div class="row">
    <div class="col-md-12">
        @using (Ajax.BeginForm("AddComment", "Comments",
                                                     new AjaxOptions
                                                     {
                                                         HttpMethod = "POST",
                                                         InsertionMode = InsertionMode.Replace,
                                                         UpdateTargetId = "comments"
                                                     }))
        {
            @Html.AntiForgeryToken()

            <form class="form-inline" role="form">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group text-center">
                            @Html.EditorFor(m => m.Content, new { htmlAttributes = new { @class = "form-control", rows = "2", placeholder = "Leave comment..." } })
                            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="submit" value="Comment" class="btn btn-default text-center" />
                        </div>
                    </div>                    
                </div>
            </form>
        }
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}