@model IEnumerable<SnapCot.Web.ViewModels.ProducerViewModels.ProducerViewModel>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.Name</td>
                <td class="text-center">@item.Country</td>
            </tr>
        }
    </tbody>
</table> 