@{
    ViewBag.Title = "About Us";
}

<div class="div-box-body about image-size">
    <div class="container div-box-content">
        <h2 class="text-center">@ViewBag.Title</h2>
        <div class="row">
            <div class="col-md-12">
                <p>
                    SnapCot is a world leader in the distribution of chemistry and related products and services.
                    SnapCot is more than just a distribution company; we’re a global partner to our customers and suppliers dedicated to:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>
                        Earning customers for life
                    </li>
                    <li>
                        Using our global network to provide market insight and expertise to grow our customers business
                    </li>
                    <li>
                        Uncompromising safety and compliance
                    </li>
                    <li>
                        Creating enduring supplier relationships
                    </li>
                    <li>
                        Providing an innovative suite of value-added services
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Our scale, geographic reach, diversified distribution channels, industry expertise and comprehensive product portfolio enable us
                 to develop strong, long-term relationships with our suppliers and to provide a single-source solution for our customers.
            </div>
        </div>       
    </div>
</div>