@{
    ViewBag.Title = "View";
}

<div class="div-box-body error-page image-size">

    <h1 class="text-center"><span class="text-danger">400</span></h1>
    <h1 class="text-center">O, snap! <span class="text-danger">Page is not Available!</span></h1>
    <br />
    <h2 class="text-center">
        <a href='/' class="text-danger">GO BACK</a>
    </h2>
</div>

