.image-container {
    width: 60px;
}

.item {
    vertical-align: middle;
}

.image-position{
    width:30%;
    float:left;
}

.image-details{
    width:400px;
}

.text-position{
    width:70%;
    float:left;
}

.img-container {
    height: 300px;
    width: 240px;
    float: left;
    overflow: hidden;
    margin: 20px;
}
.img-container img {
    display: block;
}

.portrait img {
    width: 100%;
}
