body, html {
    margin: 0;
    height: 100%;
    /*min-height: 100% !important;*/
}

body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
    color: #000;
}

hr {
    margin: 0;
}

.div-box {
    height: 100%;
    display: block;
    overflow: auto;
}

.div-box-body {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}

    .div-box-body:after {
        clear: both;
    }

.div-box-content {
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.enlarge {
    height: 100%;
}

.title {
    color: #fff;
}

.customform-control:-moz-placeholder {
    color: #999999;
}

.customform-control::-moz-placeholder {
    color: #999999;
}

.customform-control:-ms-input-placeholder {
    color: #999999;
}

.customform-control::-webkit-input-placeholder {
    color: #999999;
}

.customform-control {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

    .customform-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

    .customform-control[disabled],
    .customform-control[readonly],
    fieldset[disabled] .form-control {
        cursor: not-allowed;
        background-color: #eeeeee;
    }

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    background-color: #000;
    font-weight: bold;
    color: #999;
}

    footer p {
        margin: 10px 0;
    }

.form-div {
    margin-bottom: 10px;
}

.main-title {
    padding-top:50px;
    color: #fff;
    font-family: Broadway, cursive;
    font-size: 60px;
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
}
